<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Dev-skills</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Devskills</h1>
  <ul>
    <% devskills.forEach(devskill => { %>
      <li>
        <form 
          action="/devskills/<%= devskill._id %>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
        <button class="delete-button" type="submit">X</button>
        </form>
        <a href="/devskills/<%= devskill._id %>/edit"><button class="edit-button">✏️</button></a>
				<a href="/devskills/<%= devskill._id %>"><%= devskill.text %></a>
				- 
				<%= devskill.completed ? 'complete' : 'incomplete' %>
			</li>
    <% }) %>
  </ul>
  <a href="/devskills/new">Add Dev-Skill</a> <br>
  <a href="/">Back</a>
</body>
</html>